<!DOCTYPE html>
<html>
<head>
  <title>TeaShop</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">
        <div id="header">
        <div class="top-left-menu"><script type="text/javascript" src="/CatalystScripts/Java_DynMenusSelectedCSS.js"></script><!-- Dynamic Menu Begin CSS Output --><div id="cat_1358506_divs"><ul id="nav_1358506"><li><a href="/online-tea-for-sale">Online Tea Shop</a></li><li><a href="/atlanta-tea-shop/atlanta-tea-room-house-chamblee-georgia">Atlanta Tea Room</a></li></ul></div><script type="text/javascript">catSetSelectedCSSItem('nav_1358506');</script><!-- Dynamic Menu End CSS Output --></div>
        <div class="add-nav"> <span>No one logged in.</span><script type="text/javascript" src="/CatalystScripts/Java_DynMenusSelectedCSS.js"></script><!-- Dynamic Menu Begin CSS Output --><div id="cat_1195342_divs"><ul id="nav_1195342"><li><a href="/my_account">My Account</a></li><li><a href="/login_page">Log In</a></li></ul></div><script type="text/javascript">catSetSelectedCSSItem('nav_1195342');</script><!-- Dynamic Menu End CSS Output --> </div>
        <div class="header-block">
        <h1 class="logo"><a href="/online-tea-for-sale">eZenTea.com Online Tea Shop</a></h1>
        <img alt="" src="/images/site/eZenTeaLogo.png" style="border: 0px; width: 0px; float: right;" /><span class="Apple-tab-span" style="white-space: pre;">								</span><img alt="" src="/images/site/ezenttea-logo-90px.png" style="border: 0px solid; width: 169px; height: 91px; vertical-align: middle;" /><span id="catCartSummary" quote="False" vertical="False"><table cellspacing="0"  class="cartSummaryTable"><tr><td class="cartSummaryItem">Shopping cart is empty.</td></tr></table></span> </div>
        <!-- end header-block -->
        <div class="header-panel"> <div id="myMenu1"><ul><li  class="home"><a href="/online-tea-for-sale">Home</a><ul><li  class="home"><a href="/online-tea-for-sale">Online Tea Shop</a></li><li  ><a href="/atlanta-tea-shop/atlanta-tea-room-house-chamblee-georgia">Atlanta Tea Room</a></li></ul></li><li  ><a href="#">Online Tea Shop</a><ul><li  ><a href="/online-tea-shop/loose-tea">Loose Tea</a></li><li  ><a href="/online-tea-shop/tea-bags">Tea Bags</a></li><li  ><a href="/online-tea-shop/matcha-tea">Matcha Tea - Powdered Tea</a></li><li  ><a href="/online-tea-shop/tea-ware">Tea Ware</a></li><li  ><a href="/online-tea-shop/tea-accessories">Tea Accessories</a></li></ul></li><li  ><a href="/BlogRetrieve.aspx?BlogID=9145">Blog</a></li><li  ><a href="/ForumRetrieve.aspx?ForumID=2803">Forum</a></li><li  ><a href="/faq">FAQ</a></li><li  ><a href="/contact">Contact</a></li></ul></div>

<!-- the following script is needed to set the selected state -->
<script type="text/javascript" src="/CatalystScripts/Java_DynMenusSelectedCSS.js"></script>
<script type="text/javascript" >
	// ids need to be unique per page, use different ones if you are including multiple menus in the same page
	// id of the nav tag, used above
	var divTagId = "myMenu1";

	// desired id for 1st ul tag 
	var ulTagId = "myMenu1List";

	// desired class for 1st ul tag 
	var ulTagClass = "";

	if ((null !== ulTagId) && ("" !== ulTagId)) {
		document.getElementById(divTagId).getElementsByTagName("ul")[0].setAttribute("id",ulTagId);
	}
	if ((null !== ulTagClass) && ("" !== ulTagClass)) {
		document.getElementById(divTagId).getElementsByTagName("ul")[0].className = ulTagClass;
	}
	
	// this will set the selected state
	if ((null !== ulTagId) && ("" !== ulTagId)) {
		catSetSelectedCSSItem(ulTagId);
	}
</script>

<!-- 
For a sample CSS menu:
1. download the archive from http://lwis.net/free-css-drop-down-menu/ 
2. unpack the css files in your site
3. set the ulTagClass above to
	var ulTagClass = "dropdown dropdown-horizontal";
4. uncomment the following
5. if necessary, correct the path to reflect the files' location in your site
-->
<!--
<link href="/css/dropdown/dropdown.css" media="screen" rel="stylesheet" type="text/css" />
<link href="/css/dropdown/themes/default/default.css" media="screen" rel="stylesheet" type="text/css" />
<style>
ul.dropdown li.selected>a{
	border-bottom: 1px solid #000000;
}
</style>
-->
        <div class="search-form">
        <form action="/Default.aspx?SiteSearchID=1403&amp;ID=/searchresults" method="post" name="catsearchform53622">
            <div class="search-box">
            <input type="submit" class="submit" value="Search" />
            <input type="text" class="text" name="CAT_Search" id="CAT_Search" />
            </div>
        </form>
        </div>
        <!-- end search form -->
        </div>
        <!-- end header panel -->
        </div>
        <!-- end header -->
        <div class="gallery">
        <div class="gallery-holder slideshow"> <img alt="" src="/images/slideshow/tea-plantation.jpg" style="border: 0pt none;" /><img alt="" src="/images/slideshow/love-tea.jpg" style="border: 0pt none;" /><img alt="" src="/images/slideshow/tea-two-ladies.jpg" style="border: 0pt none;" /><img alt="" style="border: 0pt none;" src="/images/slideshow/tea-men.jpg" /><img alt="" style="border: 0pt none;" src="/images/slideshow/family-tea.jpg" /><img alt="" src="/images/slideshow/drinking-tea.jpg" style="border: 0pt none;" /> </div>
        </div>
        <div class="header-bottom"></div>
        <div id="middle-menu-wrap"> <div id="middle-menu"><ul><li  ><a href="/online-tea-shop/loose-tea"> <img class="middle-menu-img" src="/images/menus/loose-tea.jpg" /><span class="middle-menu-label">Loose Tea</span></a></li><li  ><a href="/online-tea-shop/tea-bags"> <img class="middle-menu-img" src="/images/menus/tea-bags.jpg" /><span class="middle-menu-label">Tea Bags</span></a></li><li  ><a href="/online-tea-shop/matcha-tea"> <img class="middle-menu-img" src="/images/menus/matcha-tea.jpg" /><span class="middle-menu-label">Matcha Tea</span></a></li><li  ><a href="/online-tea-shop/tea-ware"> <img class="middle-menu-img" src="/images/menus/tea-ware.jpg" /><span class="middle-menu-label">Tea Ware</span></a></li><li  ><a href="/online-tea-shop/tea-accessories"> <img class="middle-menu-img" src="/images/menus/tea-accessories.jpg" /><span class="middle-menu-label">Accessories</span></a></li></ul></div>

<!-- the following script is needed to set the selected state -->
<script type="text/javascript" src="/CatalystScripts/Java_DynMenusSelectedCSS.js"></script>
<script type="text/javascript" >
	// ids need to be unique per page, use different ones if you are including multiple menus in the same page
	// id of the nav tag, used above
	var divTagId = "middle-menu";

	// desired id for 1st ul tag 
	var ulTagId = "middle-menu-ul";

	// desired class for 1st ul tag 
	var ulTagClass = "";

	if ((null !== ulTagId) && ("" !== ulTagId)) {
		document.getElementById(divTagId).getElementsByTagName("ul")[0].setAttribute("id",ulTagId);
	}
	if ((null !== ulTagClass) && ("" !== ulTagClass)) {
		document.getElementById(divTagId).getElementsByTagName("ul")[0].className = ulTagClass;
	}
	
	// this will set the selected state
	if ((null !== ulTagId) && ("" !== ulTagId)) {
		catSetSelectedCSSItem(ulTagId);
	}
</script>

<!-- 
For a sample CSS menu:
1. download the archive from http://lwis.net/free-css-drop-down-menu/ 
2. unpack the css files in your site
3. set the ulTagClass above to
	var ulTagClass = "dropdown dropdown-horizontal";
4. uncomment the following
5. if necessary, correct the path to reflect the files' location in your site
-->
<!--
<link href="/css/dropdown/dropdown.css" media="screen" rel="stylesheet" type="text/css" />
<link href="/css/dropdown/themes/default/default.css" media="screen" rel="stylesheet" type="text/css" />
<style>
ul.dropdown li.selected>a{
	border-bottom: 1px solid #000000;
}
</style>
--> </div>
        <div id="main">
        <div class="main-frame"> 
    
    
        <div class="main-holder">
        <div id="sidebar">
        <div class="sidebar-box">
        <div class="catalog-list">
        <div>
        <h2>Online Tea Shop</h2>
        <a href="/online-tea-shop/loose-tea">
        <h3>Loose Tea</h3>
        </a></div>
        <ul class="catalogueitemdump"><li><a href="/online-tea-shop/loose-tea/black-tea">Black Tea</a></li><li><a href="/online-tea-shop/loose-tea/caffeine-free-tea">Caffeine Free Tea</a></li><li><a href="/online-tea-shop/loose-tea/chai-tea">Chai Tea</a></li><li><a href="/online-tea-shop/loose-tea/decaf-tea-decaffeinated">Decaf Tea</a></li><li><a href="/online-tea-shop/loose-tea/fruit-tea">Fruit Tea</a></li><li><a href="/online-tea-shop/loose-tea/green-tea">Green Tea</a></li><li><a href="/online-tea-shop/loose-tea/herbal-tea">Herbal Tea</a></li><li><a href="/online-tea-shop/loose-tea/mate-tea">Mate Tea</a></li><li><a href="/online-tea-shop/loose-tea/oolong-tea">Oolong Tea</a></li><li><a href="/online-tea-shop/loose-tea/organic-tea">Organic Tea</a></li><li><a href="/online-tea-shop/loose-tea/puerh-tea">Puerh Tea</a></li><li><a href="/online-tea-shop/loose-tea/rooibos-tea">Rooibos Tea</a></li><li><a href="/online-tea-shop/loose-tea/white-tea">White Tea</a></li></ul>
        <div><a href="/online-tea-shop/tea-bags">
        <h3>Tea Bags</h3>
        </a></div>
        <ul class="catalogueitemdump"><li><a href="/online-tea-shop/tea-bags/black-tea">Black Tea</a></li><li><a href="/online-tea-shop/tea-bags/chai-tea">Chai Tea</a></li><li><a href="/online-tea-shop/tea-bags/decaf-tea">Decaf Tea</a></li><li><a href="/online-tea-shop/tea-bags/fruit-tea">Fruit Tea</a></li><li><a href="/online-tea-shop/tea-bags/green-tea">Green Tea</a></li><li><a href="/online-tea-shop/tea-bags/herbal-tea">Herbal Tea</a></li><li><a href="/online-tea-shop/tea-bags/nocaf-tea">Nocaf Tea</a></li><li><a href="/online-tea-shop/tea-bags/oolong-tea">Oolong Tea</a></li><li><a href="/online-tea-shop/tea-bags/organic-tea">Organic Tea</a></li><li><a href="/online-tea-shop/tea-bags/rooibos-tea">Rooibos Tea</a></li><li><a href="/online-tea-shop/tea-bags/white-tea">White Tea</a></li></ul>
        <div><a href="/online-tea-shop/tea-ware">
        <h3>Tea Ware</h3>
        </a></div>
        <ul class="catalogueitemdump"><li><a href="/online-tea-shop/tea-ware/brew-mugs">Brew Mugs</a></li><li><a href="/online-tea-shop/tea-ware/tea-cups">Tea Cups</a></li><li><a href="/online-tea-shop/tea-ware/tea-set">Tea Set</a></li><li><a href="/online-tea-shop/tea-ware/Teapot">Teapot</a></li></ul>
        <div><a href="/online-tea-shop/tea-accessories">
        <h3>Tea Accessories</h3>
        </a></div>
        <ul class="catalogueitemdump"><li><a href="/online-tea-shop/tea-accessories/Canisters">Canisters</a></li><li><a href="/online-tea-shop/tea-accessories/filters-bags">Filters - Bags</a></li><li><a href="/online-tea-shop/tea-accessories/Spoon">Spoon</a></li><li><a href="/online-tea-shop/tea-accessories/Strainer">Strainer</a></li></ul> </div>
        </div>
        <div id="icons"></div>
        </div>
        <div id="content">
        <div>
        <h2>OUR BEST TEA PRODUCTS BY POPULARITY</h2>
        </div>
        <ul class="productfeaturelist"><li id="catProdTd_3871482" class="productItem"><div class="shop-product-small-backup">
<div title="Rich and exotic spiced tea from Tibet combines cinnamon, cardamom, ginger, clove, vanilla bean and black tea into a warming, aromatic blend. Wonderful with a splash of milk and honey." class="show-tip">
<div class="product-image">
<img alt="" src="/images/products/LBCSC.jpg?Action=thumbnail&amp;Width=208&amp;Height=146&amp;algorithm=fill_proportional" />
</div>
<h3 class="haslink"><a    href="/online-tea-shop/loose-tea/black-tea/cafe-spiced-chai-loose-tea-4oz">Cafe Spiced Chai Loose Tea - 4oz</a></h3>
</div>
<div class="small-product-info">
<div class="price"><strong>$13.50</strong></div>
<div class="product-grouping"><select onchange="DrawProduct(168232,3871482,this.value,'',18);" id="Grouping_3871482" class="productSelectInput" name="AddToCart_Grouping"><option  value=3871481>2oz</option><option selected="selected" value=3871482>4oz</option><option  value=3871483>8oz</option><option  value=3871484>16oz</option></select></div>
<div class="quantity"><input id='Units_3871482' class='productTextInput' name='AddToCart_Amount' type='text' value='1' /></div>
<div class="add-to-cart"><img onclick="AddToCart(168232,3871482,'',18,false);return false;" alt="" src="/images/site/add-cart-32px.png" /></div>
</div>
</div>
</li><li id="catProdTd_3871427" class="productItem"><div class="shop-product-small-backup">
<div title="These BRIGHTLY Colored teapots have a hinged lid for easy use. The extra-fine infuser enables you to steep fine loose-leaf teas. The flat top stackable design is great for cafe use.
" class="show-tip">
<div class="product-image">
<img alt="" src="/images/products/FLSTP-03.jpg?Action=thumbnail&amp;Width=208&amp;Height=146&amp;algorithm=fill_proportional" />
</div>
<h3 class="haslink"><a    href="/online-tea-shop/tea-ware/Teapot/cafe-teapots-with-infuser-13oz-blue">Cafe Teapots With Infuser - 13oz Blue</a></h3>
</div>
<div class="small-product-info">
<div class="price"><strong>$22.00</strong></div>
<div class="product-grouping"></div>
<div class="quantity"><input id='Units_3871427' class='productTextInput' name='AddToCart_Amount' type='text' value='1' /></div>
<div class="add-to-cart"><img onclick="AddToCart(168228,3871427,'',18,false);return false;" alt="" src="/images/site/add-cart-32px.png" /></div>
</div>
</div>
</li><li id="catProdTd_3871643" class="productItem"><div class="shop-product-small-backup">
<div title="All the HIGH Antioxidant Berries in one delicious tea blend of Gojiberries, Blueberries, Pomegranate, Lemongrass and royal blue cornflower blossoms. A MUST HAVE favorite." class="show-tip">
<div class="product-image">
<img alt="" src="/images/products/LGGB.jpg?Action=thumbnail&amp;Width=208&amp;Height=146&amp;algorithm=fill_proportional" />
</div>
<h3 class="haslink"><a    href="/online-tea-shop/loose-tea/green-tea/gojiberry-blueberry-loose-tea-4oz">Gojiberry Blueberry Loose Tea - 4oz</a></h3>
</div>
<div class="small-product-info">
<div class="price"><strong>$12.00</strong></div>
<div class="product-grouping"><select onchange="DrawProduct(168242,3871643,this.value,'',18);" id="Grouping_3871643" class="productSelectInput" name="AddToCart_Grouping"><option  value=3871642>2oz</option><option selected="selected" value=3871643>4oz</option><option  value=3871644>8oz</option><option  value=3871645>16oz</option></select></div>
<div class="quantity"><input id='Units_3871643' class='productTextInput' name='AddToCart_Amount' type='text' value='1' /></div>
<div class="add-to-cart"><img onclick="AddToCart(168242,3871643,'',18,false);return false;" alt="" src="/images/site/add-cart-32px.png" /></div>
</div>
</div>
</li><li id="catProdTd_3871601" class="productItem"><div class="shop-product-small-backup">
<div title="An aromatic combination of premium black tea from Sri Lanka with spicy cinnamon, pungent cloves, and tangy orange peels. A great way to keep warm the whole year round. Indulge your taste buds. Brings up retro memories of the instant Russian Spice tea made of tang, instant tea, Cloves and Cinnamon from the sixties." class="show-tip">
<div class="product-image">
<img alt="" src="/images/products/LBRS.jpg?Action=thumbnail&amp;Width=208&amp;Height=146&amp;algorithm=fill_proportional" />
</div>
<h3 class="haslink"><a    href="/online-tea-shop/loose-tea/black-tea/russian-spice-loose-tea-4oz">Russian Spice Loose Tea - 4oz</a></h3>
</div>
<div class="small-product-info">
<div class="price"><strong>$9.00</strong></div>
<div class="product-grouping"><select onchange="DrawProduct(168232,3871601,this.value,'',18);" id="Grouping_3871601" class="productSelectInput" name="AddToCart_Grouping"><option  value=3871600>2oz</option><option selected="selected" value=3871601>4oz</option><option  value=3871602>8oz</option><option  value=3871603>16oz</option></select></div>
<div class="quantity"><input id='Units_3871601' class='productTextInput' name='AddToCart_Amount' type='text' value='1' /></div>
<div class="add-to-cart"><img onclick="AddToCart(168232,3871601,'',18,false);return false;" alt="" src="/images/site/add-cart-32px.png" /></div>
</div>
</div>
</li><li id="catProdTd_3871998" class="productItem"><div class="shop-product-small-backup">
<div title="Bai Mu Dan white tea, Orange peel, Almonds, Rose Petals, Cinnamon chips, Apple pieces and cinnamon orange spice.  Know as White Christmas because it is a holiday favorite but also known as HEAVEN because it smells and taste so Heavenly. ****Best Seller List****" class="show-tip">
<div class="product-image">
<img alt="" src="/images/products/LWCH.jpg?Action=thumbnail&amp;Width=208&amp;Height=146&amp;algorithm=fill_proportional" />
</div>
<h3 class="haslink"><a    href="/online-tea-shop/loose-tea/white-tea/white-christmas-heaven-loose-tea-4oz">White Christmas (Heaven) Loose Tea - 4oz</a></h3>
</div>
<div class="small-product-info">
<div class="price"><strong>$12.00</strong></div>
<div class="product-grouping"><select onchange="DrawProduct(168219,3871998,this.value,'',18);" id="Grouping_3871998" class="productSelectInput" name="AddToCart_Grouping"><option  value=3871997>2oz</option><option selected="selected" value=3871998>4oz</option><option  value=3871999>8oz</option><option  value=3872000>16oz</option></select></div>
<div class="quantity"><input id='Units_3871998' class='productTextInput' name='AddToCart_Amount' type='text' value='1' /></div>
<div class="add-to-cart"><img onclick="AddToCart(168219,3871998,'',18,false);return false;" alt="" src="/images/site/add-cart-32px.png" /></div>
</div>
</div>
</li></ul> <iframe width="640" height="480" src="http://www.youtube.com/embed/vfoHJAZ7TJY?rel=0" frameborder="0"></iframe>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <div class="content-article"><a name="how-to-buy-tea"></a>HOW TO BUY TEA
        <h2></h2>
        <img alt="" width="250" height="250" style="float: right;" src="images/tea-two-cups.jpg" />Buying quality loose leaf tea can be a bit overwhelming considering our selection of over 140 teas to shop from: <strong>Black Teas</strong>, <strong>Oolong Teas</strong>, <strong>Green Teas</strong>, <strong>White Teas</strong>, <strong>Herbal Teas</strong>. We have another article that explains the various <a href="/types-of-tea"><strong><span style="text-decoration: underline;">Types of Tea</span></strong></a>.
        <h3>How to Choose Your Tea</h3>
        <p>Answer the basic following questions to help narrow down your selection.</p>
        <h4><strong>Question 1:</strong> How much caffeine can you do? Yes to Caffeine, Minimal Caffeine, NO Caffeine.</h4>
        <p>See the Caffeine Chart below for the levels of Caffeine in the different types of tea</p>
        <p><img alt="" width="570" height="299" src="images/chart-caffeine-per-serving.jpg" /></p>
        <p>As you can see, the caffeine level varies from the different types of tea.</p>
        <p>Black Teas having the most caffeine and White Teas have the least caffeine.</p>
        <p>Herbals which also include Rooibos (Red Bush) Teas and Ayurvedic Teas are naturally caffeine FREE, meaning they never contained any caffeine to be removed like the decaffeinated teas.</p>
        <h4><strong>Question 2:</strong> Do you prefer Plain Teas or Flavored Teas?</h4>
        <p>Plain Tea lovers have a taste for the natural flavor of the tea leaf . True "tea leaf" teas come from the Camellia Sinensis plant. There are variations of the plant. Think of it like the tomato plant. There are various types of tomato plants like "Big Boys" or "Heirlooms" but they are all tomato plants.</p>
        <p>So YOU ask- "If all true "tea Leaf" teas (Black, Oolong, Green, White) come from the same plant why are they different.</p>
        <p>Answer- Primarily the Natural Process called Oxidation. Depending on how much or how little the tea is allowed to oxidize or process will determine the type tea.</p>
        <p>Notice on the Caffeine Chart that Black teas have the most Caffeine and Whites have the least.</p>
        <p style="font-weight: bold;">Example:</p>
        <p>First the tea is picked either by hand or mechanical, then the tea leaves are washed and dried.</p>
        <p>The Black teas and Oolongs (highest on the chart for caffeine) are allowed to wilt and then are rolled or tumbled to allow the leaf to bruise. The bruising of the leaf allows the essential oils of the leaf to spread throughout the leaf and when the air hits the leaf it causes the leaf to break down, creating more flavor, depth and richness to the leaf. Think of it like an apple that you slice and sit out on the counter, as the air causes it to turn brown and as the apple ripens it becomes more flavorful.</p>
        <p>The Oolong teas can vary from a very dark leafy Pouchong to the other spectrum of a very tightly rolled light green tea like the Jade Dragon. The amount of oxidation is controlled with heat (just like we stop the food aging process by cooking with heat.) Either the stemmed heat that the Japanese green teas like Gyokuro or Sencha or dry/wok heat to flatten the famous Chinese Dragon Well/Lung Ching.</p>
        <p>White Teas are very minimally processed that is why they are so light and fluffy. They are only sun dried and lightly stemmed. Thus leaving the leaf whole and full of antioxidants and health benefits.</p>
        <p>Flavored Teas are teas from any of the tea types that are blended with fruits, flowers, nuts, spices, chocolate and/or Natural Flavoring to enhance and add to the natural flavor of the teas.</p>
        <h4><img alt="" width="250" height="313" style="float: right;" src="images/floral-tea-cup.jpg" />Question 3: Are you choosing to drink tea for diet or health benefits?</h4>
        <p>Pick the tea you like, because that's the one you will drink the most. Numerous studies</p>
        <p>indicate various benefits from drinking tea. Oolong teas are called the "dieters slimming" tea. White teas have the most antioxidants from the true "tea leaf" teas. Rooibos (red bush) herbal tea is high in antioxidants and Caffeine Free. The Green Gyokuro and Matcha are both shade grown forcing more chlorophyll content to the top of the plant and they only harvest the top leaves. The leaves are slowly ground down into the Matcha Green Tea Powder, making it many times higher in antioxidants and nutrients When you drink the Matcha Green Tea Powder you ingest more of these nutrients You also will receive more caffeine along with more of the natural amino acid L-theanine Thousands of years ago monks harvested the green tea and slowly ground down the tea on a granite grinding wheel for the wealthy. The monks learned to drink the tea to aid them in staying alert in all day meditation but in a relaxed state.</p>
        <h3>Attend a Tea Tasting</h3>
        <p>A great way to find your favorite tea is to attend a tea tasting at a local tea bar, like our Zen Tea Shop located in Atlanta, Georgia. Ask to see and smell the teas. "The Nose always Knows."</p>
        <p>At tea tastings you learn about a tea's origin, its history, brewing tips and most of all you taste as many delicious and unique teas as possible. </p>
        <p>At our Zen Tea shop in Atlanta, don't leave before you have sampled our signature Iced or Hot Matcha Latte. The Iced Matcha Latte is made with only &frac12; teaspoon of our premium Matcha Green Tea Powder, 1 teaspoon agave, 4 ounces of ice in a blender with 8 ouncesof vanilla flavored soy milk.</p>
        <p>If you don't live near a tea bar order Tea Samples on line and keep experiencing the Zen of Tea until you find your favorite tea.</p>
        <p>Share your experience with tea with a friend and remember that tea is not just a beverage but an experience&hellip;</p>
        <div style="margin-left: 40px;"></div>
        <p style="font-style: italic; margin-left: 40px; font-weight: bold;">Drink your tea slowly and reverently,</p>
        <div style="margin-left: 40px;"></div>
        <p style="font-style: italic; margin-left: 40px; font-weight: bold;">As if it is the axis on which the whole earth revolves</p>
        <div style="margin-left: 40px;"></div>
        <p style="font-style: italic; margin-left: 40px; font-weight: bold;">Slowly, evenly without rushing toward the future.</p>
        <div style="margin-left: 40px;"></div>
        <p style="font-style: italic; margin-left: 40px; font-weight: bold;">Live the actual moment.</p>
        <div style="margin-left: 40px;"></div>
        <p style="font-style: italic; margin-left: 40px; font-weight: bold;">Only this moment is life.</p>
        <div style="margin-left: 40px;"></div>
        <div style="margin-left: 40px;"></div>
        <p style="margin-left: 80px;">-Thich Nhat Hanh (Thay)</p>
        <div style="margin-left: 40px;"></div>
        </div>
        </div>
        </div>
    

 </div>
        <!-- end main-frame -->
        </div>
        <!-- end main -->
        </div>
        <!-- end wrapper -->
        <div id="footer">
        <div class="footer-box"> <a href="/admin">Admin</a> &bull; <span>&copy; 2011 eZenTea.com</span> &bull; <a target="_blank" href="//www.AtlantaWebDesignGA.com">AtlantaWebDesignGA.com</a> </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/sitemap">Sitemap</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        </div>
    

<script type="text/javascript" src="http://njcdn.worldsecuresystems.com/CatalystScripts/Java_OnlineShopping.js?vs=b1763.r388757"></script>
<script type="text/javascript" src="http://njcdn.worldsecuresystems.com/CatalystScripts/Java_Cookies.js?vs=b1763.r388757"></script>
<script type="text/javascript" src="http://njcdn.worldsecuresystems.com/CatalystScripts/Java_Box.js?vs=b1763.r388757"></script>
<script type="text/javascript" src="/ajaxpro/prototype-core.ashx"></script>
<script type="text/javascript" src="/ajaxpro/CMS.CatalogueRetrieve,Catalyst.Web.CMS.ashx"></script>

</body>
</html>
